* { padding: 0; margin: 0; outline: 0; }

body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #fff;
	background: #171717;
	height: 100%;
    text-align: left;
}

.cl { font-size: 0; line-height: 0; height: 0; clear: both; }

a img { border: 0; }
a { color: #9fea00; text-decoration: none; }
a:hover { text-decoration: underline; cursor: pointer;}

.left { float: left; display: inline; }
.right { float: right; display: inline;} 
.notext {font-size: 0; line-height: 0; text-indent: -4000px;}

.center {display: block; margin: 0 auto;}

.shell {margin: 0 auto; width: 930px;}

#header {background: #000;}
#header .shell {width: 1018px; background: url(../../images/header.jpg) no-repeat 10px 0;height: 84px;}

h1#logo {padding-left: 300px; float: left; padding-top: 10px;}
h1#logo a {display: block; background: url(../../images/logo.gif) no-repeat 0 0; width: 420px; height: 60px;}

#navigation {background: url(../../images/nav.gif) repeat-x 0 0; height: 50px;}
#navigation ul {float: left; list-style-type: none;}
#navigation ul li {background: url(../../images/nav-divider.gif) no-repeat right 0; float: left; display: inline; padding-left: 23px; padding-right: 19px;}
#navigation ul li a {color: #676767; font-family: tahoma, sans-serif; font-size: 13px; text-transform: uppercase; padding-top: 16px; display: block; height: 34px; float: left;}

#heading {height: 500px; background: url(../../images/heading1.jpg) no-repeat 0 0;}

a.archives {color: #909090; font-size: 11px; text-decoration: underline; display: block;}
a.archives:hover {text-decoration: none;}

a.button {background: url(../../images/button.png) no-repeat 0 0; float: right; width: 81px;height: 16px; display: block; color: #373737; font-size: 10px; padding-top: 3px; text-align: center; text-transform: uppercase;}